<% include ../partials/header %>
<div class="row">
    <h1 style="text-align: center;"> Erstelle eine neue Veranstaltung</h1>
    <div style="width: 30%; margin: 25px auto;">
        <form  action="/events" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="title">Veranstaltungstitel</label>
                <input class="form-control" type="text" name="title" placeholder="Bitte den Veranstaltungstitel eingeben" required>
            </div>
            <div class="form-group">
                <label for="image">Bild hochladen (optional)</label>
                <input class="form-control" type="file" id="image" name="image" accept="image/*" placeholder="Eine klann ein Bild hinterlegt werden">
            </div>
            <div class="field">
                <label>Beschreibung</label>
                <textarea class="form-control" name="description" rows="10" required></textarea>
            </div>
            <div class="form-group">
                <label for="location">Ort</label>
                <input class="form-control" type="text" name="location" id="location" placeholder="Bitte die Adresse der Veranstaltung eingeben" required>
            </div>
            <div class="form-group">
                <label for="meetingpoint">Treffpunkt</label>
                <input class="form-control" type="text" name="meetingpoint" placeholder="Bitte den Treffpunkt eingeben" required>
            </div>
            <div class="form-group">
                <label for="date">Datum</label>
                <p><input type="checkbox" id="noDateNeeded" value="" name="notPlanned" onclick="hideDateFields()"> Das Datum steht noch nicht fest, die Veranstaltung wird noch geplant!</p>
                <fieldset id="dateParams">
                    <div class="input-group">
                       <div class="input-group-addon">
                            <i class="fa fa-calendar">
                            </i>
                       </div>
                       <input class="form-control" id="date" type="text" name="date" placeholder="Bitte das Datum der Veranstaltung auswählen">
                    </div>
                    <div class="form-group">
                        <label for="time">Uhrzeit</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-clock-o">
                                </i>
                            </div>
                            <input class="form-control" type="time" name="time" placeholder="Bitte die Zeit für das Zusammenkommen am Treffpunkt eingeben">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="deadline">Anmeldeende</label>
                        <div class="input-group">
                           <div class="input-group-addon">
                                <i class="fa fa-calendar"> </i>
                           </div>
                           <input class="form-control" id="date" type="text" name="deadline" placeholder="Bitte das Datum für das Anmeldeende auswählen">
                        </div>
                    </div>
                 </fieldset>
            </div>    
            <div class="form-group">
                <label for="maxSubscribers">Maximale Teilnehmeranzahl</label>
                <input class="form-control" type="number" name="maxSubscribers" placeholder="Bitte die maximale Teilnehmeranzahl auswählen" step ="1"  min="3">
            </div>
            <div class="form-group">
                <label for="fee">Unkosten</label>
                <input class="form-control" type="text" name="fee" placeholder="Bitte den Unkostenbeitrag festlegen">
            </div>
            <div class="form-group">
               <button class="btn btn-lg btn-primary btn-block">Speichern</button>
            </div>
        </form>
        <a href="/events">Zurück</a>
    </div>
</div>



<% include ../partials/footer %>