<% include ../partials/header %>

<div class="row">
    <h1 style="text-align: center;"> Erstelle eine neue Veranstaltung</h1>
    <div style="width: 30%; margin: 25px auto;">
        <form  action="/events" method="POST">
            <div class="form-group">
                <label for="title">Veranstaltungstitel</label>
                <input class="form-control" type="text" name="title" placeholder="Veranstaltungstitel">
            </div>
            <div class="form-group">
                <label for="image">Bildadresse</label>
                <input class="form-control" type="text" name="image" placeholder="Bild">
            </div>
            <div class="field">
                <label>Beschreibung</label>
                <textarea name="description"></textarea>
            </div>
            <div class="form-group">
                <label for="location">Ort</label>
                <input class="form-control" type="text" name="location" id="location" placeholder="Strausberg Bahnhof">
            </div>
            <div class="form-group">
                <label for="meetingpoint">Treffpunkt</label>
                <input class="form-control" type="text" name="meetingpoint" placeholder="Treffpunkt">
            </div>
            <div class="form-group">
                <label for="date">Datum</label>
                <input class="form-control" type="date" name="date" placeholder="Datum">
            </div>
            <div class="form-group">
                <label for="time">Zeit</label>
                <input class="form-control" type="time" name="time" placeholder="Zeit">
            </div>
            <div class="form-group">
                <label for="deadline">Anmeldeschluss</label>
                <input class="form-control" type="date" name="deadline" placeholder="Anmeldeschluss">
            </div>
            <div class="form-group">
                <label for="maxSubscribers">Maximale Teilnehmeranzahl</label>
                <input class="form-control" type="number" name="maxSubscribers" placeholder="12" step ="1"  min="3">
            </div>
            <div class="form-group">
                <label for="fee">Bearbeitungsgebühr</label>
                <input class="form-control" type="number" name="fee" min="0.00" step ="0.1" placeholder="3.00">
            </div>
            <div class="form-group">
               <button class="btn btn-lg btn-primary btn-block">Speichern</button>
            </div>
        </form>
        <a href="/events">Zurück</a>
    </div>
</div>

<% include ../partials/footer %>