<% include ../partials/header %>
<div class="row">
    <h1 style="text-align: center;"> Erstelle eine neue Veranstaltung</h1>
    <div style="width: 30%; margin: 25px auto;">
        <form  action="/events" method="POST">
            <div class="form-group">
                <label for="title">Veranstaltungstitel</label>
                <input class="form-control" type="text" name="title" placeholder="Veranstaltungstitel" required>
            </div>
            <div class="form-group">
                <label for="image">Bildadresse</label>
                <input class="form-control" type="text" name="image" placeholder="Bild">
            </div>
            <div class="field">
                <label>Beschreibung</label>
                <textarea class="form-control" name="description" rows="10" required></textarea>
            </div>
            <div class="form-group">
                <label for="location">Ort</label>
                <input class="form-control" type="text" name="location" id="location" placeholder="Strausberg Bahnhof" required>
            </div>
            <div class="form-group">
                <label for="meetingpoint">Treffpunkt</label>
                <input class="form-control" type="text" name="meetingpoint" placeholder="Treffpunkt" required>
            </div>
            <div class="form-group">
                <label for="date">Datum</label>  
                <div class="input-group">
               <div class="input-group-addon">
                <i class="fa fa-calendar">
                </i>
               </div>
               <input class="form-control" id="date" type="text" name="date" placeholder="Datum" required>
              </div>
            </div>
                        <div class="form-group">
                <label for="time">Uhrzeit</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-clock-o">
                        </i>
                    </div>
                    <input class="form-control" type="time" name="time" placeholder="Zeit" required>
                </div>
            </div>

            <div class="form-group">
                <label for="deadline">Anmeldeschluss</label>
                <div class="input-group">
                   <div class="input-group-addon">
                        <i class="fa fa-calendar"> </i>
                   </div>
                   <input class="form-control" id="date" type="text" name="deadline" placeholder="Anmeldeschluss" required>
                </div>
            </div>
            <div class="form-group">
                <label for="maxSubscribers">Maximale Teilnehmeranzahl</label>
                <input class="form-control" type="number" name="maxSubscribers" placeholder="12" step ="1"  min="3">
            </div>
            <div class="form-group">
                <label for="fee">Bearbeitungsgebühr</label>
                <input class="form-control" type="text" name="fee" placeholder="3.00 €">
            </div>
            <div class="form-group">
               <button class="btn btn-lg btn-primary btn-block">Speichern</button>
            </div>
        </form>
        <a href="/events">Zurück</a>
    </div>
</div>


<% include ../partials/footer %>