<% include ../partials/header %>
<!-- The Gallery as lightbox dialog, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">Schließen</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>

<div id="links">
    <% event.photos.forEach(function(this_photo){ %>
    <a href="<%=this_photo.path%>" title="<%=this_photo.description%>">
        <img src="<%=this_photo.path%>" alt="<%=this_photo.description%>" height="150">
    </a>
          <% }); %>
</div>


<script src="/js/blueimp-gallery.min.js"></script>
<script>
document.getElementById('links').onclick = function (event) {
    event = event || window.event;
    var target = event.target || event.srcElement,
        link = target.src ? target.parentNode : target,
        options = {index: link, event: event},
        links = this.getElementsByTagName('a');
    blueimp.Gallery(links, options);
};
</script>
<% include ../partials/footer %>