<% include ./partials/header %>
<h1>Einloggen!</h1>

<form action="/login" method = "post">
    <input type="text" name="username" placeholder="Benutzername">
    <input type="password" name="password" placeholder="Password">
    <button>Einloggen</button>
    
</form>

<% include ./partials/footer %>