<% include ./partials/header %>
<div class="row">
    <h1 style="text-align: center">Beim Freizeitverein registrieren</h1>
    <div style="width: 30%; margin: 25px auto;">
        <form action="/register" method="post">
            <div class="form-group">
                <label for="username">Benutzername</label>
                <input class="form-control" type="text" name="username" placeholder="Benutzername">
            </div>
            <div class="form-group">
                 <label for="password">Password</label>
                <input class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <div class="form-group">
                 <label for="firstname">Vorname</label>
                <input class="form-control" type="text" name="firstname" placeholder="Vorname">
            </div>
            <div class="form-group">
                 <label for="lastname">Nachname</label>
                <input class="form-control" type="text" name="lastname" placeholder="Nachname">
            </div>
            <div class="form-group">
                 <label for="email">Emailadresse</label>
                <input class="form-control" type="email" name="email" placeholder="Emailadresse">
            </div>
            <div class="form-group">
                 <label for="passphrase">Codewort</label>
                <input class="form-control" type="text" name="passphrase" placeholder="Codewort">
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Registrieren</button>
            </div>
        </form>
        <a href="/campgrounds">Go Back</a>
    </div>
</div>

<% include ./partials/footer %>