<% include ./partials/header %>
<h1>Regristrier dich!</h1>

<form action="/register" method = "post">
    <input type="text" name="username" placeholder="Benutzername">
    <input type="password" name="password" placeholder="Password">
    <button>Regristrieren</button>
    
</form>

<% include ./partials/footer %>