#indexthumbnail {
    padding: 0;
   height: 380px;
   display: block;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.thumbnail img {
    display: block;
    width: auto;
    background-size: contain;
}

#indexthumbnail img {
    object-fit: cover;
    width: 100%;
    height:150px;
}

.thumbnail .caption-full{
    padding: 9px;
}

.delete-form {
    display: inline;
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
    margin: 15px auto;
}

.table td {
   text-align: center;   
}

.textarea {
 min-height: 100px;
}

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}

